@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*::before,
*::after {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
$colors: (
    'gradient-from' : hsl(6, 100%, 80%),
    'gradient-to' : hsl(335, 100%, 65%),
    'pale-blue' : hsl(243, 100%, 93%),
    'grayish-blue' : hsl(229, 7%, 55%),
    'dark-blue' : hsl(228, 56%, 26%),
    'very-dark-blue' : hsl(229, 57%, 11%)
);
$typography: (
    'font-size' : 14px,
    'font-family' : 'Raleway'
);

// Mixin for responsive
@mixin medium-screen {
    @media screen and (min-width: 769px) {
        @content;
    }
}
@mixin large-screen {
    @media screen and (max-width: 1440px) {
        @content;
    }
}