main {
    height: 100vh;
    max-width: 100%;
    background-image: url(../images/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.storage {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: map-get($colors, 'dark-blue');
    border-radius: 10px 100px 10px 10px;
    &__logo {
        height: 40px;
        width: 130px;
    }
    &__box {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        &--icon {
            padding: 0.8rem;
            background-color: map-get($colors, 'very-dark-blue');
            border-radius: 10px;
            margin-right: 10px;
            width: 25px;
            height: 20px;
            cursor: pointer;
        }
    }
}
.progress {
    margin-top: 1em;
    width: 70%;
    padding: 1rem 2rem 2rem 2rem;
    color: map-get($colors, 'pale-blue');
    font-family: map-get($typography, 'font-family');
    font-size: map-get($typography, 'font-size');
    background-color: map-get($colors, 'dark-blue');
    border-radius: 10px;
    &__message {
        text-align: center;
        span {
            font-weight: 700;
        }
    }
    &__full {
        height: 15px;
        width: 100%;
        border-radius: 50px;
        background-color: map-get($colors, 'very-dark-blue');
        padding: 0.2rem;
        &--used {
            width: 70%;
            height: 8.4px;
            border-radius: 10px;
            background: linear-gradient(to right, map-get($colors, 'gradient-from') , map-get($colors, 'gradient-to'));
            padding: 0.2rem;
            display: flex;
            justify-content: flex-end;
        }
        &--scroll {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: map-get($colors, 'pale-blue')
        }
    }
    &__capacity {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }
    &__storage-left {
        padding: 1rem;
        font-weight: 700;
        color: map-get($colors, 'very-dark-blue');
        background-color: map-get($colors, 'pale-blue');
        font-size: 2rem;
        border-radius: 10px;
        width: 130px;
        text-transform: uppercase;
        position: absolute;
        left: 33%;
        span {
            font-size: 0.8rem;
            color: map-get($colors, 'grayish-blue');
        }
    }
}