@include medium-screen {
    body {
        height: 100vh;
        background-image: url(../images/bg-desktop.png);
        background-color: map-get($colors, 'very-dark-blue');
        background-size: contain;
        background-position: right 0 bottom -30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .storage {
        max-width: 25%;
        height: 140px;
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &__logo {
            margin-bottom: 1rem;
        }
    }
    .progress {
        max-width: 25rem;
        height: 80px;
        align-self: flex-end;
        &__message {
            text-align: left;
        }
        &__storage-left {
            top: -33%;
            left: 38%;
            border-radius: 10px 10px 0 10px;
            position: absolute;
            vertical-align: text-top;
            transform: translate(94px, -2px);
            &::before {
                content: ' ';
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-right-color: lighten(map-get($colors, 'pale-blue'), 100%);
                position: absolute;
                bottom: -14%;
                right: 0;
            }
        }
    }
}